<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Submit Remarks</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <h2>Please give us a remark</h2>
        <h1>Remarks</h1>
        
        <form action="/submit" method="POST" id="join-us">
          <div class="fields">
            <span>
             <input placeholder="Name" type="text"  name="name" required/>
          </span>
          <br />
           <span>
             <input placeholder="Remarks" type="text" name="remarks" required/>
          </span>
          </div>
          <div class="submit">
            <input class="submit" value="Submit" type="submit" />
          </div>
        </form>
      </div>
    {% endblock %}
</body>
</html>